
h1 {
    

font-family: Red Hat Text;
font-style: normal;
font-weight: bold;
font-size: 75px;
text-align: center;
margin: 50px auto;


color: #FA4772;
}

h2 {
   color: #10C7B1;
font-family: Red Hat Text;
font-size: 75px;
}

#accent-h2-text {
color: #FA4772;
}

#title-name {
   color: #FA4772;
   font-size: 75px;
}
#sub-title {
    font-size: 55px;
}

#heading-container {
   display: flex; 
   flex-direction: column;
   text-align: center;
   margin: 25px auto;
   font-weight: bold;
  
   

   
}

#contact-button {
   

text-decoration: none;
color: black ;
border: solid 1px;
border-color: #FA4772;
border-radius: 5px;
font-family: Red Hat Text;
font-weight: bolder;
padding: 10px 30px;
font-size: 20px;



}

#contact-button:hover {
    color:white;

    background-color: #10C7B1;
}

p {
   
    font-size: 25px;
font-family: Red Hat Text;
    
   
}

.app-titles{
    font-size: 55px;
    font-family:Red Hat Text;
    color:#FA4772;
}

.sub-heading {
    font-size: 45px;
}

.contact-page-header {
    color: #10C7B1;
    font-size: 75px;
    
    


}
input {
font-size: 25px;
}

#contact-form {
background-color: #FA4772;
padding: 25px;
box-shadow: -2px 10px 14px rgba(16, 199, 177, 1);
 font-family:Red Hat Text;
 font-weight: bolder;
 font-size: 25px;
}


#submit-button {
color: white;
 font-family:Red Hat Text;
  font-weight: bolder;
 font-size: 25px;
 margin-top: 10px;

}
#submit-button:hover{
    background-color: #10C7B1;
}

.content {
text-align: center;
margin: 25px;

}
h3{
    color: #FA4772;
    font-family:Red Hat Text;
    font-weight: bolder;
    padding: 10px;
    
}

.project-links {
    text-decoration: none;
    font-size: 25px;
    color: #10C7B1;
    border: #FA4772 solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.project-links:hover{
    border:none;
    background-color: #10C7B1;
    color: white;
    border-radius: 10px;
}

p {
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

.project-header{
    font-size: 65px;
    padding: 25px;
}

#about-page-header {
    font-size: 75px;
}

#about-me-header {
    font-size: 55px;
}

#about-me-text {
    font-size: 30px;
}

#about-me-button {
    display:block;

    text-decoration: none;
color: black ;
border: solid 1px;
border-color: #FA4772;
border-radius: 5px;
font-family: Red Hat Text;
font-weight: bolder;
padding: 10px 30px;
font-size: 20px;


}

#about-me-button:hover {
 color:white;

    background-color: #10C7B1;
}